html body {
    height: 100%;
    font-size: 1rem;
    font-family: "Montserrat", sans-serif;
  }
  
  a {
    color: #fff;
    text-decoration: none;
  }
  
  .second-page-header{
    margin-top: 4rem;
    font-size: 1.25rem;
    color: black;
  }
  .first-element{
    z-index: 1.5;
    margin-top: 100px;
    background-color: transparent;
  }

.table-class{
  margin-top: 20px;
}